//! COLORS

$white-primary: #f4f4f8;
$grey-primary: #e6e6ea;
$red-primary: #e54449;
$blue-primary: #405382;
$blue-secondary: #2a5dca;
$yellow-primary: #fed766;
$black-primary: #2e282a;
$black-secondary: #828181;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
  isolation: isolate;
  background: $white-primary;
  background: $blue-primary;

  // background-color: red;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

link {
  display: inline-block;
}

a,
a:active,
a:visited {
  text-decoration: none;
}
