.donate {
  border: none;
  background: $red-primary;
  background: $yellow-primary;
  font-family: sans-serif;
  padding: 10px 20px;
  font-size: 1.15rem;
  font-weight: 400;

  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;

  & > a {
    color: $white-primary;
    color: $black-primary;
  }

  &-f {
    width: 200px;
  }

  &-merch {
    background: $blue-primary;
    width: auto;

    & > a {
      color: $white-primary;
      letter-spacing: 1px;
    }
  }
}

.adam {
  color: $blue-primary;
  font-weight: 900;
}

.line {
  position: absolute;
  width: 0%;
  height: 1.5px;
  background-color: $black-primary;
  left: 0px;
  bottom: -2px;
  transform-origin: left;
  transition: 0.75s ease;
}

.involved {
  width: 20px;
  height: 20px;

  fill: black;
  color: black;
  position: absolute;
  transform: rotate(180deg);
  right: 5px;
  z-index: 99;
  top: 10.5px;
}

.display--merch {
  display: none;
}

@media screen and (min-width: 700px) {
  .donate {
    &-f {
      width: 175px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .display--merch {
    display: flex;
  }
}
