.donate {
  border: none;
  background: $red-primary;
  background: $yellow-primary;
  font-family: sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  padding: 10px 20px;

  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.25s ease;
  color: $black-primary;

  & > a {
    color: $black-primary;
  }

  &-f {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-merch {
    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;

    background: $blue-primary;
    width: auto;

    color: $white-primary;

    & > a {
      color: $white-primary;
    }
  }
  &:active {
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    transform: translateY(2px);
  }
}

.adam {
  color: $blue-primary;
  font-weight: 900;
}

.line {
  position: absolute;
  width: 0%;
  height: 1.5px;
  background-color: $black-primary;
  left: 0px;
  bottom: -2px;
  transform-origin: left;
  transition: 0.75s ease;
}

.involved {
  width: 20px;
  height: 20px;

  fill: black;

  position: absolute;
  transform: rotate(180deg);
  right: 5px;
  z-index: 99;
  top: 10.5px;
}

.check {
  width: 10px;
  height: 10px;
  // border: 1px solid blue;

  fill: $white-primary;
  position: absolute;
  left: 2px;
  top: 2px;
  pointer-events: none;
}

.checkout-icon {
  width: 25px;
  height: 30px;
  margin-right: 10px;
}

.gpay-icon {
  fill: $red-primary;
  margin-right: 3px;
  font-size: 2rem;
}

.display--merch {
  display: none;
}

.copyrights {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
.v-copyrights {
  margin-top: 0px;
}

@media screen and (min-width: 700px) {
  .donate {
    &-f {
      width: 175px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .display--merch {
    display: flex;
  }
  .donate {
    &:hover {
      transform: translateY(-2px);
    }
  }
}
