.organization {
  width: 100%;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;

  & > h1 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.endorsments {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 30px;

  &_card {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;

    width: 250px;
    background: $white-primary;
    border-radius: 5px;
    height: 330px;
    &--logo {
      padding: 20px;
      height: 250px;
      overflow: hidden;
      border-radius: 5px 5px 0px 0px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      & > img {
        border-radius: 5px 5px 0px 0px;
      }
    }

    &--title {
      height: 80px;
      border-top: 3px solid white;
      padding: 15px;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 800;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      //   color: $red-primary;
    }
  }
}
