*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-height: 100%; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
  isolation: isolate;
  background: #f4f4f8; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

#root,
#__next {
  isolation: isolate; }

link {
  display: inline-block; }

a,
a:active,
a:visited {
  text-decoration: none; }

.donate {
  border: none;
  background: #e54449;
  background: #fed766;
  font-family: sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  padding: 10px 20px;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.25s ease;
  color: #2e282a; }
  .donate > a {
    color: #2e282a; }
  .donate-f {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .donate-merch {
    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
    background: #e54449;
    width: auto;
    color: #f4f4f8; }
    .donate-merch > a {
      color: #f4f4f8; }
  .donate:active {
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px; }

.read-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -17.5px;
  top: 2px;
  z-index: 999;
  fill: #2e282a;
  transform: rotate(90deg);
  animation: infinite 1s ease infinite; }

.adam {
  color: #e54449;
  font-weight: 900; }

@keyframes infinite {
  0% {
    transform: translateX(0px) rotate(90deg); }
  50% {
    transform: translateX(3px) rotate(90deg); }
  100% {
    transform: translateX(0px) rotate(90deg); } }

.line {
  position: absolute;
  width: 0%;
  height: 1.5px;
  background-color: #2e282a;
  left: 0px;
  bottom: -2px;
  transform-origin: left;
  transition: 0.75s ease; }

.involved {
  width: 20px;
  height: 20px;
  fill: black;
  position: absolute;
  transform: rotate(180deg);
  right: 5px;
  z-index: 99;
  top: 10.5px; }

.check {
  width: 10px;
  height: 10px;
  fill: #f4f4f8;
  position: absolute;
  left: 2px;
  top: 2px;
  pointer-events: none; }

.checkout-icon {
  width: 25px;
  height: 30px;
  margin-right: 10px; }

.gpay-icon {
  fill: #e54449;
  margin-right: 3px;
  font-size: 2rem; }

.display--merch {
  display: none; }

.copyrights {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300; }

.v-copyrights {
  margin-top: 0px; }

.black-color {
  background-color: #2e282a;
  background-image: linear-gradient(to right top, #1e1d20, #222124, #262627, #2b2a2b, #2f2f2f); }

.news {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; }
  .news_title {
    margin: 10px;
    color: #f4f4f8;
    font-size: 3rem; }
  .news_con {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }

.twitter {
  margin-bottom: 30px;
  display: flex;
  width: 310px;
  background-color: #2e282a;
  gap: 5px;
  border: 1px solid #626262;
  padding-right: 20px;
  border-radius: 12px;
  padding: 10px;
  background: rgba(51, 51, 51, 0.35);
  box-shadow: 0 8px 32px 0.2 rgba(18, 18, 21, 0.2);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 10; }
  .twitter_left {
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    .twitter_left--logo {
      width: 50px;
      height: 50px;
      border-radius: 999px; }
      .twitter_left--logo > img {
        border-radius: 999px; }
  .twitter_right {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .twitter_right--name {
      font-weight: 800;
      font-size: 1.1rem;
      color: #f4f4f8; }
    .twitter_right--date {
      color: #929191;
      font-weight: 500;
      letter-spacing: -0.25px; }
    .twitter_right--p {
      color: #f4f4f8;
      font-size: 1.1rem;
      font-weight: 500; }
    .twitter_right--links {
      color: #2a5dca; }
      .twitter_right--links-dot {
        color: #f4f4f8; }
    .twitter_right--image {
      width: 238px;
      height: 280px;
      width: 100%;
      margin: 0;
      padding: 0;
      margin-top: 5px;
      border-radius: 10px;
      background-image: url(../images/Poster-1.png);
      background-repeat: no-repeat;
      background-size: cover; }
      .twitter_right--image > img {
        border-radius: 10px; }
    .twitter_right--twoimage {
      background-image: url(../images/adam-family.jpeg); }
    .twitter_right--data {
      pointer-events: none;
      margin-top: 5px;
      padding: 0px 2.5px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .twitter_right--data-levels {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22.5px; }
        .twitter_right--data-levels > span {
          color: #929191;
          font-size: 1rem;
          margin-left: 2px; }

.new_logo {
  position: relative;
  border-radius: 2.5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  isolation: isolate; }
  .new_logo > img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 3px;
    top: 3px;
    z-index: 1; }
  .new_logo > span {
    z-index: 3; }
  .new_logo > span:nth-child(3) {
    font-weight: 800;
    color: #e54449;
    font-size: 2rem;
    letter-spacing: 2px; }

.data-svg {
  width: 12px;
  height: 12px;
  fill: #929191; }
  .data-svg:nth-of-type(2) {
    border: 1px solid blue; }

.heart {
  fill: #e54449; }

.news-svg {
  margin-top: -20px;
  width: 42.5px;
  height: 42.5px;
  fill: #2a5dca; }

.stupid-con {
  position: relative;
  isolation: isolate; }

.socials-icon {
  width: 50px;
  height: 50px;
  fill: #f4f4f8;
  cursor: pointer;
  transition: 0.2s ease; }
  .socials-icon:hover {
    transform: scale(1.1);
    fill: #2a5dca; }
  .socials-icon-nd:hover {
    fill: #e54449; }

.bg-tw {
  position: absolute;
  left: -12.5px;
  bottom: 15px;
  transform: rotate(-2deg); }
  .bg-tw-2 {
    bottom: auto;
    top: 5px;
    left: auto;
    right: -17.5px;
    transform: scale(-1, 1); }

@media screen and (min-width: 700px) {
  .donate-f {
    width: 175px; } }

@media screen and (min-width: 1000px) {
  .display--merch {
    display: flex; }
  .donate:hover {
    transform: translateY(-2px); }
  .news_con {
    flex-direction: row;
    justify-content: center;
    gap: 20px; }
  .twitter {
    width: 350px; }
    .twitter_right--name {
      font-size: 1.3rem; }
    .twitter_right--p {
      font-size: 1.3rem; } }

.nav {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 10px 15px;
  position: sticky;
  top: -2px;
  z-index: 5;
  background-color: #f4f4f8;
  transition: all 1s ease; }
  .nav__items {
    grid-row: 1/2;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px; }
  .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    width: 100px;
    height: 75px; }
  .nav__btn {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer; }
    .nav__btn > span {
      width: 100%;
      height: 2px;
      background-color: #2e282a;
      pointer-events: none;
      opacity: 1;
      transition: all 1s ease; }
  .nav__links {
    display: flex;
    height: 40px;
    padding-top: 7.5px;
    display: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    display: none; }
    .nav__links > li {
      font-size: 1.5rem; }
      .nav__links > li > a,
      .nav__links > li > a:active,
      .nav__links > li > a:visited {
        color: #2e282a;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        position: relative; }
      .nav__links > li > a:hover {
        transform: translateY(10px); }
      .nav__links > li > a:hover .line {
        width: 100%; }
    .nav__links--involved {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 10px;
      margin-top: -10px;
      height: 30px;
      width: 165px;
      position: relative;
      overflow: hidden;
      transition: all 0.2s ease;
      padding: 10px;
      border-radius: 0px 0px 10px 10px; }
      .nav__links--involved > li {
        font-size: 1.5rem; }
      .nav__links--involved > a,
      .nav__links--involved > a:active,
      .nav__links--involved > a:visited {
        color: #2e282a;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        position: relative;
        display: flex; }
      .nav__links--involved > a:hover .line {
        width: 100%; }
      .nav__links--involved > a:nth-child(2),
      .nav__links--involved > a:nth-child(3) {
        font-size: 1.3rem;
        color: #2e282a; }
  .nav__links--m {
    grid-row: 2/3;
    grid-column: 1/-1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 1s ease;
    opacity: 0;
    display: none;
    transition: all 0.5s ease; }
    .nav__links--m > ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px; }
      .nav__links--m > ul > li {
        font-size: 1.5rem; }
        .nav__links--m > ul > li > a,
        .nav__links--m > ul > li > a:active,
        .nav__links--m > ul > li > a:visited {
          color: #2e282a;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 2.5px;
          position: relative; }

.nav--active {
  grid-template-rows: 11% 89%;
  height: 100%;
  transition: all 1s ease;
  position: fixed;
  top: 0px; }

.nav--links-active {
  display: flex;
  opacity: 1; }

.f-animation {
  transform: rotate(50deg) translateY(8.5px); }

.s-animation {
  transform: rotate(-50deg) translateY(-8.5px); }

.th-animation {
  display: none;
  opacity: 0; }

.active--line-link {
  width: 100%; }

.height {
  height: 100%; }

@media screen and (min-width: 650px) {
  .nav {
    padding: 20px 30px; }
    .nav__logo {
      width: 200px; } }

@media screen and (min-width: 850px) {
  .nav {
    padding: 20px 50px;
    grid-template-columns: 20% 80%; }
    .nav__logo {
      width: 150px; }
    .nav__btn {
      display: none; }
    .nav__items {
      flex-direction: row;
      justify-content: end; }
    .nav__links {
      display: flex;
      gap: 30px;
      margin-right: 30px; }
      .nav__links--involved:hover {
        height: 100%;
        background: #f4f4f8; } }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  isolation: isolate; }
  .main__img {
    width: 100%;
    position: relative; }
  .main__gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 2;
    background: #e54449;
    background: linear-gradient(0deg, #e54449 5%, rgba(0, 212, 255, 0) 50%); }
  .main__title {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    position: relative;
    gap: -20px;
    z-index: 3;
    background: #405382;
    font-weight: 500;
    font-family: sans-serif; }
    .main__title > h1 {
      position: relative;
      z-index: 4;
      display: flex;
      flex-direction: column;
      color: #f4f4f8;
      font-size: 1.3rem; }
      .main__title > h1 > span {
        color: #e54449;
        font-size: 2rem;
        font-weight: 900;
        letter-spacing: 2px; }

.fsection {
  background-color: #f4f4f8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .fsection_title {
    margin-top: -20px;
    width: 100%;
    text-align: center;
    color: #2e282a; }
    .fsection_title > h1 {
      font-size: 2.1rem;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 1px; }
  .fsection_text {
    width: 100%;
    padding: 10px; }
    .fsection_text > p {
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 10px; }
      .fsection_text > p > a,
      .fsection_text > p > a:active,
      .fsection_text > p > a:visited {
        color: #2e282a;
        font-weight: 800;
        width: fit-content; }
  .fsection_two {
    margin-top: 50px; }

.read-link {
  position: relative; }

.read-link:hover .line {
  width: 115%; }

.fdonation {
  background: #fed766;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; }
  .fdonation_link {
    border: 1px solid blue;
    width: 100%;
    height: 100%; }
  .fdonation_con {
    background: rgba(255, 217, 65, 0.25);
    box-shadow: 0 8px 32px 0 rgba(41, 41, 48, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    z-index: 5;
    width: 100%; }
    .fdonation_con-left {
      padding: 10px; }
      .fdonation_con-left > h3 {
        font-size: 3rem; }
      .fdonation_con-left > h5 {
        font-size: 1.25rem; }
    .fdonation_con-right--text {
      padding: 10px;
      margin-bottom: -20px; }

.blob {
  position: absolute;
  width: 150px;
  left: -70px;
  top: -65px; }

.follow {
  background-color: #2e282a;
  width: 100%; }
  .follow_con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 10px; }
    .follow_con > footer {
      width: 100%;
      text-align: center;
      color: #e6e6ea; }
  .follow_title {
    color: #f4f4f8; }
    .follow_title > h3 {
      font-size: 2.25rem;
      font-weight: 100;
      letter-spacing: 1px; }
  .follow_socials {
    display: flex;
    gap: 15px;
    padding-bottom: 20px; }

.laxalt {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column; }
  .laxalt_title {
    margin-bottom: 20px;
    width: 100%;
    text-align: center; }
    .laxalt_title > h1 {
      font-size: 2rem;
      font-weight: 100;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .laxalt_title--red {
      color: #e54449;
      color: #ff6464; }
  .laxalt_left {
    background-color: #405382;
    padding: 10px 7.5px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px; }
    .laxalt_left > p {
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 1.5rem;
      letter-spacing: 0.5px;
      font-weight: 500;
      color: #f4f4f8; }
      .laxalt_left > p > span:nth-child(1) > span {
        font-size: 1.7rem; }
  .laxalt_right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; }
    .laxalt_right--gallery {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
      gap: 5px; }
      .laxalt_right--gallery-img:nth-child(1) {
        background-image: url("../images/laxalt-gallery/laxalt-army.jpeg");
        grid-column: 1 / 7;
        grid-row: 1/3; }
      .laxalt_right--gallery-img:nth-child(2) {
        border-radius: 0px 0px 0px 0px;
        background-image: url("../images/laxalt-gallery/laxalt-cruz.jpg");
        grid-column: 7 / -1;
        grid-row: 1/3; }
      .laxalt_right--gallery-img:nth-child(3) {
        background-image: url("../images/laxalt-gallery/laxalt-donald.jpg");
        grid-column: 1 / 6;
        grid-row: 3/6; }
      .laxalt_right--gallery-img:nth-child(4) {
        background-image: url("../images/laxalt-gallery/laxalt-oldLady.jpeg");
        grid-column: 6 / -1;
        grid-row: 3/5; }
      .laxalt_right--gallery-img:nth-child(5) {
        background-image: url("../images/laxalt-gallery/laxalt-oldpeople.jpeg");
        grid-column: 6 / 9;
        grid-row: 5/6; }
      .laxalt_right--gallery-img:nth-child(6) {
        background-image: url("../images/laxalt-gallery/laxalt-standing.jpg");
        grid-column: 9/ -1;
        grid-row: 5/6; }
      .laxalt_right--gallery-img:nth-child(7) {
        background-image: url("../images/laxalt-gallery/laxalt-jesus.jpg");
        grid-column: 1/ 6;
        grid-row: 6/8; }
      .laxalt_right--gallery-img:nth-child(8) {
        background-image: url("../images/laxalt-gallery/laxalt-profile.jpg");
        grid-column: 6/ -1;
        grid-row: 6/9; }
      .laxalt_right--gallery-img:nth-child(9) {
        background-image: url("../images/laxalt-gallery/laxalt-stagemic.jpg");
        grid-column: 1/ 6;
        grid-row: 8/9; }
      .laxalt_right--gallery-img:nth-child(10) {
        border-radius: 0px 0px 5px 5px;
        background-image: url("../images/laxalt-gallery/laxalt-crowd.jpg");
        grid-column: 1/ -1;
        grid-row: 9/-1; }

.america {
  color: #ff6464;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px; }

.background-size {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

@media screen and (min-width: 550px) {
  .laxalt_right {
    display: none; }
  .fdonation_con {
    flex-direction: row;
    gap: 50px;
    padding: 60px; }
    .fdonation_con-left > h3 {
      font-size: 4rem; }
    .fdonation_con-left > h5 {
      font-size: 1.5rem; }
    .fdonation_con-right {
      text-align: center; }
      .fdonation_con-right--text {
        font-size: 1.15rem; } }

@media screen and (min-width: 850px) {
  .main__title {
    font-size: 4rem; }
    .main__title > h1 > span {
      font-size: 4rem; }
  .laxalt {
    width: 600px;
    height: fit-content;
    height: max-content;
    flex-direction: row;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 0px;
    box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px; }
    .laxalt_title > h1 {
      font-size: 3rem; }
    .laxalt_left {
      width: 100%;
      padding: 25px;
      box-shadow: rgba(99, 99, 99, 0) 0px 2px 8px 0px; }
  .fsection_two {
    margin-top: 120px; }
  .fsection_title {
    margin-bottom: 50px; }
    .fsection_title > h1 {
      font-size: 3rem; }
  .fsection_text > p {
    font-size: 1.65rem; }
  .fsection_con {
    display: flex;
    width: 750px; }
    .fsection_con-left {
      width: 50%; }
    .fsection_con-right {
      border-radius: 0px 5px 5px 0px;
      width: 50%;
      background-image: url("../images/adam-family.jpeg"); }
      .fsection_con-right-two {
        background-image: url("../images/economy.jpg"); } }

@media screen and (min-width: 1000px) {
  .laxalt {
    width: 1000px; }
    .laxalt_left {
      border-radius: 5px 0px 0px 5px;
      width: 50%; }
    .laxalt_right {
      width: 50%;
      height: auto;
      display: flex; }
      .laxalt_right--gallery {
        gap: 10px; }
        .laxalt_right--gallery-img:nth-child(2) {
          border-radius: 0px 5px 0px 0px; }
        .laxalt_right--gallery-img:nth-child(10) {
          border-radius: 0px 0px 5px 0px; }
  .fdonation_con {
    width: 1000px; }
    .fdonation_con-right {
      width: 390px; } }

.donation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 20px; }
  .donation_text {
    display: flex;
    flex-direction: column;
    gap: 5px; }
    .donation_text > h1 {
      color: #e54449;
      font-size: 2rem; }
    .donation_text > p {
      font-size: 1.3rem; }
  .donation_img {
    display: none;
    position: relative; }
    .donation_img-overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: #fed766;
      opacity: 0.1; }
  .donation_amount {
    display: flex;
    flex-direction: column;
    gap: 10px; }
    .donation_amount--ftext > h3 {
      color: #e54449;
      font-size: 1.5rem; }
    .donation_amount--ftext > p {
      font-size: 1.3rem; }
    .donation_amount--btns {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 7.5px;
      background: #fed766;
      padding: 20px 10px;
      border-radius: 5px; }
    .donation_amount--monthly > h3 {
      color: #e54449;
      font-size: 1.5rem; }
  .donation_btn {
    padding: 7.5px 15px;
    font-size: 1.3rem;
    background: #f4f4f8;
    color: #2e282a;
    border: none;
    border-radius: 2.5px;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    font-weight: 500;
    cursor: pointer;
    position: relative; }
  .donation_input {
    padding: 7.5px 15px;
    font-size: 1.3rem;
    background: #f4f4f8;
    color: #2e282a;
    width: 75px;
    border: none;
    border-radius: 2.5px;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px; }
  .donation_input:focus {
    outline: 1.5px solid #e54449; }
  .donation_monthly {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; }
    .donation_monthly--btn {
      padding: 10px 15px;
      box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
      border: none;
      background-color: #f4f4f8;
      border-radius: 2.5px;
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
      position: relative; }
  .donation_checkout {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; }
    .donation_checkout-card {
      border-radius: 2.5px;
      border: none;
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 600;
      color: white;
      cursor: pointer; }
    .donation_checkout--paypal {
      background: #fed766; }
    .donation_checkout--gpay {
      background: #2e282a;
      font-size: 2rem; }
    .donation_checkout--visa {
      background: #e6e6ea;
      color: #e54449; }
  .donation_rules {
    display: flex;
    flex-direction: column; }
    .donation_rules > h4 {
      margin-top: 0px;
      font-size: 2rem; }
    .donation_rules > ol {
      padding: 10px;
      font-size: 1.1rem; }
    .donation_rules > p {
      font-size: 1.1rem; }

.btn-active {
  background: #e54449;
  color: #f4f4f8; }

@media screen and (min-width: 850px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .donation {
    width: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-rows: auto auto; }
    .donation_text > h1 {
      font-size: 2rem; }
    .donation_text > p {
      font-size: 1.5rem; }
    .donation_amount {
      display: flex;
      flex-direction: column;
      gap: 10px; }
      .donation_amount--ftext > h3 {
        color: #e54449;
        font-size: 2rem; }
      .donation_amount--ftext > p {
        font-size: 1.4rem; }
    .donation_rules {
      grid-column: 1/3; }
    .donation_img {
      display: inline-block;
      border-radius: 2.5px; }
    .donation_btn {
      padding: 7.5px 17.5px;
      font-size: 1.5rem; }
    .donation_rules > h4 {
      font-size: 2.5rem;
      font-weight: 300; }
    .donation_rules > ol {
      font-size: 1.3rem; }
    .donation_rules > p {
      font-size: 1.5rem; }
    .donation_monthly--btn {
      font-size: 1.4rem; }
    .donation_input {
      font-weight: 800; }
  .copyrights {
    font-size: 1.1rem; } }

.volunteer {
  min-height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .volunteer_text > h1 {
    font-size: 2.5rem;
    background: -webkit-linear-gradient(#2e282a, #e54449 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .volunteer_text > p {
    font-size: 1.7rem; }
  .volunteer_img {
    border-radius: 2.5px;
    position: relative;
    isolation: isolate;
    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px; }
    .volunteer_img > img {
      border-radius: 2.5px;
      z-index: 1; }
    .volunteer_img-overlay {
      position: absolute;
      z-index: 3;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(243, 68, 68, 0.15); }
  .volunteer_form {
    display: flex;
    flex-direction: column;
    gap: 10px; }
    .volunteer_form > h3 {
      color: #405382;
      font-size: 2rem; }
    .volunteer_form > input {
      padding: 10px 15px;
      font-size: 1.3rem;
      border: none;
      background: #e54449;
      color: #f4f4f8;
      font-weight: 100;
      border-radius: 2.5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
      .volunteer_form > input::placeholder {
        font-size: 1.2rem;
        color: #f4f4f8;
        font-weight: 200; }
      .volunteer_form > input:focus {
        outline: 2px solid #405382; }
  .volunteer_btn {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px 15px;
    background: #405382;
    color: #f4f4f8;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px; }

.update_text > h1 {
  color: #2e282a;
  font-size: 2.5rem;
  background: #2e282a;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.update_form > h3 {
  font-size: 2rem;
  color: #2a5dca; }

.update_form > input {
  background: #f4f4f8;
  color: #2e282a; }
  .update_form > input::placeholder {
    color: #2e282a; }

.update_btn {
  background-color: #2a5dca;
  color: #f4f4f8; }

.update_img {
  border: 1px solid red; }
  .update_img-overlay {
    background: rgba(41, 40, 40, 0.5); }

@media screen and (min-width: 850px) {
  .volunteer {
    width: 600px; }
    .volunteer_text > h1 {
      font-size: 4rem; }
    .volunteer_text > p {
      font-size: 2rem; }
    .volunteer_form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, auto); }
      .volunteer_form > h3 {
        grid-column: 1/3;
        font-size: 3rem; }
      .volunteer_form > input {
        font-size: 1.5rem; }
      .volunteer_form > input:nth-of-type(3) {
        grid-column: 1/3; }
      .volunteer_form > input:nth-of-type(4) {
        grid-column: 1/3; }
    .volunteer_btn {
      grid-column: 1/3; } }

.organization {
  width: 100%;
  padding: 10px;
  font-family: sans-serif;
  text-align: center; }
  .organization > h1 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px; }

.endorsments {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 30px; }
  .endorsments_card {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    width: 250px;
    background: #f4f4f8;
    border-radius: 5px;
    height: 330px; }
    .endorsments_card--logo {
      padding: 20px;
      height: 250px;
      overflow: hidden;
      border-radius: 5px 5px 0px 0px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .endorsments_card--logo > img {
        border-radius: 5px 5px 0px 0px; }
    .endorsments_card--title {
      height: 80px;
      border-top: 3px solid white;
      padding: 15px;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 800;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }

.issues {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px; }
  .issues > h1 {
    margin-top: 10px;
    font-size: 2.5rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px; }

.abortion {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.7) 0px 2px 8px 0px;
  background: #e54449; }
  .abortion_text {
    display: flex;
    flex-direction: column;
    gap: 15px; }
    .abortion_text > h2 {
      font-size: 2rem;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: #f4f4f8; }
    .abortion_text > p {
      color: #f4f4f8;
      font-size: 1.4rem;
      letter-spacing: -0.5px;
      font-weight: 100; }
  .abortion_img {
    border-radius: 3px;
    position: relative; }
    .abortion_img > img {
      border-radius: 3px; }
  .abortion_two {
    background-color: #405382;
    margin-bottom: 20px; }

@media screen and (min-width: 1000px) {
  .issues {
    width: 1000px; }
  .abortion {
    flex-direction: row;
    padding: 20px; }
    .abortion_text {
      padding-right: 20px;
      width: 60%; }
      .abortion_text > h2 {
        font-size: 3rem; }
      .abortion_text > p {
        font-size: 1.75rem; } }

.gradient-color {
  background-color: #e6e6ea; }

.merch {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; }
  .merch_left {
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px; }
    .merch_left > img {
      border-radius: 10px; }
  .merch_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px; }
    .merch_right--models {
      width: 100%;
      padding: 10px 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 15px; }
      .merch_right--models-con {
        cursor: pointer;
        background: white;
        padding: 10px;
        border-radius: 2.5px;
        box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
        transition: all 0.2s ease;
        border: 1.5px solid white; }
        .merch_right--models-con > img {
          border-radius: 2.5px;
          width: 70px;
          height: 70px;
          pointer-events: none; }
        .merch_right--models-con:hover {
          transform: translateY(-5px); }
        .merch_right--models-con:active {
          transform: translateY(2 px);
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
    .merch_right--type {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px; }
    .merch_right--btn {
      cursor: pointer;
      border: none;
      width: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      margin-right: 10px;
      padding: 5px 20px;
      border-radius: 2.5px;
      box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
      transition: all 0.2s ease; }
      .merch_right--btn:hover {
        transform: translateY(-2px); }
      .merch_right--btn:active {
        transform: translateY(1px);
        box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px; }
    .merch_right--size {
      margin-top: 20px;
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 7.5px; }
    .merch_right--checkout {
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px; }
      .merch_right--checkout-btn {
        text-align: center;
        font-size: 1.75rem;
        width: 100%;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 2.5px;
        background-color: #e54449;
        color: #f4f4f8;
        box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
        transition: all 0.2s ease; }
        .merch_right--checkout-btn:hover {
          transform: translateY(-2px); }
        .merch_right--checkout-btn:active {
          transform: translateY(1px);
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }

.active-border {
  border: 1.5px solid #e54449; }

.active {
  background: #e54449;
  color: #f4f4f8; }

@media screen and (min-width: 1000px) {
  .merch {
    margin-top: 75px;
    gap: 50px;
    width: 800px;
    flex-direction: row;
    align-items: flex-start; }
    .merch_left {
      width: auto; }
    .merch_right {
      gap: 20px; }
      .merch_right--models {
        flex-wrap: nowrap;
        gap: 20px;
        padding: 0px; }
      .merch_right--type {
        justify-content: flex-start; }
      .merch_right--size {
        justify-content: flex-start;
        gap: 10px;
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); } }
